
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ms-3 border-bottom">
      <a href="{% url 'view' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        TODO List
      </a>

      <div class="col-md-3">
              {% if user.is_authenticated %}
                  <span>Welcome, {{ user }} </span>
                  <a class="btn btn-primary me-md-2" href="{% url 'logout' %}">Logout</a>

              {% else %}
                <a class="btn btn-outline-primary me-2" href="{% url 'register' %}">Sign Up</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
              {% endif %}
      </div>
    </header>
</head>
{% block content %}
{% endblock %}
</body>
</html>