<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> ToDo List</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <div class="col-md-3 text-center">
              {% if user.is_authenticated %}
                  <span>Welcome, {{ user }}</span>
                  <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>

              {% else %}
                <a class="btn btn-outline-primary me-2" href="{% url 'register' %}">Sign Up</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
              {% endif %}
      </div>
    </header>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>