<div class="categories">
          <div class="categories__header">
            <h2>Browse Categories</h2>
          </div>
          <ul class="categories__list">
            <li>
              <a href="{% url 'view' %}" class="active">All <span> {{ categories.count }}</span></a>
                <br>
            </li>
              {% for category in categories %}
            <li>
              <a href="{% url 'view' %}?q={{ category.name }}">{{ category.name }} <span>{{ category.todoappView.count }}</span></a>
            </li>
              {% endfor %}
          </ul>
        </div>