<div class="categories">
          <div class="categories__header">
            <h2>Browse Categories</h2>
          </div>
          <ul class="categories__list">
            <li>
              <a href="{% url 'todolist' %}" class="active">All<span> {{ categories.count }}</span></a>
            </li>
              {% for category in categories %}
            <li>
              <a href="{% url 'todolist' %}?q={{ category.name }}">{{ category.name }} <span>{{ todo_count }}</span></a>
            </li>
              {% endfor %}
          </ul>
        </div>