{% extends 'todo/base.html' %}

{% block content %}

 <div class="row justify-content-center align-items-center h-100">
 <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <form method="POST" action="">
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputTitle" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="exampleInputTitle" value="{{ todo.title }}">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" name="category" value="{{ todo.category.name }}" class="form-control" id="category" list="category-list">
        <datalist id="category-list">
          {% for category in categories %}
            <select class="form-select" aria-label="Default select example" id="category">
            <option value="{{ category.name }}">{{ category.name }}</option>
          {% endfor %}
          </select>
        </datalist>
      </div>
      <div class="mb-3">
        <label for="exampleInputContent" class="form-label">Content</label>
          <textarea required class="form-control" name="content">{{ todo.content }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputDate" class="form-label">Due date</label>
        <input type="date" name="due_date" class="form-control" value="{{ todo.due_date }}">
      </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{#          <form class="form" action="" method="POST">#}
{#              {% csrf_token %}#}
{#              {{ form.as_p }}#}
{#              <input type="Submit" value="Submit">#}
{#          </form>#}
                  <a href="{% url 'view' %}">Back</a>
</div>
 </div>

{% endblock %}